.dashboard {
    padding: 0 10px;
    width: 100%;
    ul {
        background-color: #0c5656;
        padding: 0 5px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        grid-column-gap: 20%;
        & li {
            list-style: none;
            & a {
                color: white;
                text-decoration: none;
            }
        }
    }

}